* {
    padding: 0;
    margin: 0;
    border-style: border-box;
    
}

.imagen-1 {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border: solid, 10px;
    padding: 5px;
}

.imagen-2 {
    width: 50%;
    height:50%;
    box-sizing: border-box;
    border: solid, 10px;
    padding: 5px;
}
.imagen-3 {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border: solid, 10px;
    padding: 5px;
}